

<div class="layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="logo">
      <h2>UCSAL</h2>
      <span>CLINICA MEDICA</span>
    </div>

    <ul class="menu">
      <li routerLink="/main-layout/dashboard" routerLinkActive="active">
        <i class="pi pi-home"></i>
        <span>Dashboard</span>
      </li>

      @if(role === 'ADMIN') {
      <li routerLink="/main-layout/profissionals" routerLinkActive="active">
        <i class="pi pi-users"></i>
        <span>Profissionais</span>
      </li>
      }
      <li routerLink="/main-layout/patients" routerLinkActive="active">
        <i class="pi pi-user"></i>
        <span>Pacientes</span>
      </li>

      <li routerLink="/main-layout/consultations" routerLinkActive="active">
        <i class="pi pi-calendar"></i>
        <span>Consultas</span>
      </li>

      @if (role === 'ADMIN') {
        <li routerLink="/main-layout/ies" routerLinkActive="active">
          <i class="pi pi-building"></i>
          <span>IES</span>
        </li>
      }

      @if(role === 'ADMIN') {
        <li routerLink="/main-layout/ies-units" routerLinkActive="active">
          <i class="pi pi-sitemap"></i>
          <span>Unidades IES</span>
        </li>
      }

      <li routerLink="/main-layout/medications" routerLinkActive="active">
        <i class="pi pi-heart"></i>
        <span>Medicacoes</span>
      </li>

      <li routerLink="/main-layout/medication-requests" routerLinkActive="active">
        <i class="pi pi-shopping-cart"></i>
        <span>Solicitacoes de Medicacao</span>
      </li>

      @if(role === 'ADMIN') {
        <li routerLink="/main-layout/shcools" routerLinkActive="active">
          <i class="pi pi-book"></i>
          <span>Escolas</span>
        </li>
      }
      
      @if(role === 'ADMIN') {
        <li routerLink="/main-layout/reports/cost-center" routerLinkActive="active">
          <i class="pi pi-file-pdf"></i>
          <span>Relatorios</span>
        </li>
      }
    </ul>
  </aside>

  <!-- CONTEÚDO PRINCIPAL -->
  <div class="main">
    <p-toast></p-toast>

    <!-- NAVBAR -->
    <header class="topbar p-shadow-2">
      <div class="left">
        <span class="title">Sistema Clínico</span>
      </div>

      <div class="right">

        <p-menu #menu [popup]="true" [model]="items"></p-menu>
        <p-avatar
          label=""
          shape="circle"
          size="normal"
          (click)="menu.toggle($event)"
          style="cursor: pointer;"
        >
        <i class="pi pi-user"></i>
      </p-avatar>
      </div>
    </header>

    <!-- CONTEÚDO DINÂMICO -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>

  </div>

</div>